.container {
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 400;
  font-style: normal;
  font-weight: 13px;
  line-height: normal;
  width: 280px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--gradient, #15bffd);
  background-color: rgba(255, 255, 255, 5%);
  padding: 10px;
}

.input::placeholder {
  color: var(--gray);
}

.input:focus-visible {
  outline: none;
}

.error {
  margin-left: 10px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--error);
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--secondary);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

input[type='checkbox']:disabled {
  border: 0.2em solid var(--gray);
}
